<b>Books:</b>
  <div>
    <label>
      Find Book
      <input
        type="search"
        name="bookTitle"
        ng-model="bookTitleFilterValue"
        placeholder="Sherlock Holmes"
      >
    </label>
  <div class="addBook">
    <label>
      Author
      <input
        type="text"
        name="author"
        placeholder="R.L. Stein"
        ng-model="author"
      >
    </label>
    <label>
      Title
      <input
      type="text"
      name="author"
      placeholder="Goosebumps"
      ng-model="title"
    >
    </label>

    <button ng-click="BookService.addBook({
      title: title,
      author: author
      }); title=''; author='';">
      Add book
    </button>
  </div>
  <ul>
    <li ng-repeat="book in BookService.books | filter: { title: bookTitleFilterValue} | orderBy: 'title'">
      <h3>{{book.title}}</h3>
      <p>{{'by ' + book.author}}</p>
    </li>
  </ul>
</div>